@import '../../settings/include-media.scss';

.home-container {
  padding-top: 50px;
  overflow: visible;
  display: flex;
  justify-content: center;
  width: 100%;
  // background-color: rgb(167 243 208);
  // background: linear-gradient(288deg, rgba(16, 185, 129, 1) 43%, rgba(167, 243, 208, 1) 100%);


  @include media('>=md') {
    padding-top: 100px;
  }

  &__inner {
    max-width: 1024px;
    padding: 16px;
    overflow: visible;
    width: 100%;

    @include media('>=md') {
      padding: 24px;
    }

    .skills_bars {
      display: grid;
      grid-template-columns: 1fr;

      @include media('>=md') {
        grid-template-columns: 1fr 1fr;
      }


    }
  }
}