@import '../../settings/include-media.scss';

.swiper-container {
  overflow: hidden;
  margin: 16px 0;
  padding: 24px 0;
  position: relative;
  mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);

  @include media('>=md') {
    margin: 24px 0;
  }

  .swiper-wrapper {
    transition-timing-function: linear !important;
  }

  .swiper-slide {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media('>=md') {
      height: 100px;
    }

    .image-holder {
      &__image {
        width: 100%;
        height: 100%;
        max-height: 80px;
        object-fit: contain;

        @include media('>=md') {
          max-height: 100px;
        }
      }
    }
  }
}