@import '../../settings/include-media.scss';

.swiper-container {
  overflow: visible;
  margin: 16px 0;
  // border: 3px solid lightgrey;
  padding: 24px 0;
  border-radius: 16px;

  @include media('>=md') {
    margin: 24px 0;
  }

  .swiper-wrapper {
    padding-left: 24px;
    margin: 24px 0;
  }

  .swiper-slide {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .image-holder {
      &__image {
        width: 100%;
        height: 100%;
        max-height: 100px;
        object-fit: contain;
      }
    }
  }
}